--- 
layout: default
--- 

{% include breadcrumb.html %}

<article class="page">

    <h1>{{ page.title }}</h1>
<!-- PERIODIC SYSTEM COMPONENT START -->
    <link href="https://icansharepoint.blob.core.windows.net/cdn/periodictable.20/main.css" rel="stylesheet"> 
    <div id="root"></div>
    <script type="text/javascript" src="https://icansharepoint.blob.core.windows.net/cdn/periodictable.20/main.js"></script>
<!-- PERIODIC SYSTEM COMPONENT END -->
     
    <div class="entry" style="clear:both">
        {{ content }}
    </div>

</article>
{% include disqus.html %}

