

<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <meta name="robots" content="noindex">
  <title>CodePen - Office365 Periodic Table</title>
  
  
  
  <link rel='stylesheet prefetch' href='https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/4.1.0/css/fabric.min.css'>

  
  
  
  
</head>

<body translate="no" >
  
      <style>
      .pad{
  width:860px;
 /*
  background-color:grey;
  border:solid 1px red
  */
}
.row {
  xbackground-color: red;
  clear: both;
}
.icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 24px;
}
.heading {
  position: absolute;

  width: 75px;
}

.subtitle
{
  position: absolute;
  
  bottom:1;
  margin-top:14px;
}

.footer {
  margin-top: 25px;
  bottom: 1;
}

.col {
  cursor: hand;
  background-color: white;
  float: left;
  height: 80px;
  margin: 5px;
  padding: 5px;
  color: white;
  page-break-after: 3px;
}
.service {
  width: 80px;
}
.hidde {
  opacity: 0;
}
.leftcol {
  color: black;
  height: 80px;
  width: 40px;
  cursor: hand;
  background-color: white;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  color: white;
  page-break-after: 3px;
}
.lefttext {
  color: black;
  transform: rotate(270deg);
  transform-origin: 90% 90%;
  text-transform:uppercase;
}

.rightcol {
  color: black;
  height: 80px;
  width: 40px;
  cursor: hand;
  background-color: white;
  float: left;
  margin: 5px;
  padding: 5px;
  color: white;
  page-break-after: 3px;
}

.righttext {
  color: black;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
  text-transform:uppercase;
}
.buttom {
  margin-top: 50px;
  height: 35px;
  width: 80px;
  color: black;
 
}

.buttom4 {
  clear:both;
  margin-left45px;
  margin-top: 50px;
  height: 55px;
  width: 670px;
  color: #EFEFEF;
  background-color:#7C7C7C;
   text-transform:uppercase;
line-height: 45px;
  text-align: center;
}

.lefter {
  
  width:25px;
}

.subbottom{
  
}
.sub270{
   color: black;
  transform: rotate(270deg);
  transform-origin: 100% 100%;
 
}
    </style>

  <h1>BODY</h1>
  <!--
https://dev.office.com/fabric#/get-started#core
-->
<div ng-app="modalTest">
  <div ng-controller="dialogServiceTest" class="pad">
    
    <div ng-repeat="row in table.rows" class="row">
      <div class="leftcol" style="background-color:{{row.left.color}}">
        <div class="lefttext ms-font-mi">{{row.left.title}}</div>
      </div>
      <div ng-repeat="col in row.columns" class="col {{col.type}}" ng-click="clickItem(col)" style="background-color:{{col.color}}">
        <div class="ms-font-s-plus heading ms-fontWeight-light">{{col.title}}</div>
        <div class="{{col.subtitleclass}}">{{col.subtitle}}</div>
        <div class="icon">
          <i class=" ms-Icon ms-Icon--{{col.icon}}" aria-hidden="true"></i></div>
        <div class="footer about ms-font-mi ms-fontWeight-light">{{col.about}}</div>
      </div>
      <div class="rightcol" style="background-color:{{row.right.color}}">
        <div class="righttext ms-font-mi" >{{row.right.title}}</div>
        
      </div>

    </div>
    <div class="buttom4 ms-font-m">
      Direct Communication
    </div>
    {{selected}}
  </div>
</div>
  
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js'></script>

    <script >
    angular.module("modalTest", []).controller("dialogServiceTest", [
    "$scope",
    "$rootScope",
    "$timeout",
    "$http",
    function ($scope, $rootScope, $timeout, $http) {
        $scope.table = office365;
        $scope.clickItem = function (item) {
          $scope.selected = item;
            console.log(item)
        }
    }
]);

var office365 = {
    rows: [

        {
            left: {},
            right: {
                title: "Presentation",
                color: "#B8E7F6"
            },
            columns: [  // row 1

                {
                    type: "service",
                    title: "Dynamics 365",
                    about: "CRM&ERP",
                    icon: "DynamicsCRMLogo",
                    color: "#15224E"
                },
                { type: "service hidde" },
                { type: "service  hidde" },
                { type: "lefter  hidde" },
                { type: "service  hidde" },
                { type: "service  hidde" },
                { type: "service  hidde" },
                {
                    type: "service",
                    title: "Sway",
                    about: "Next-gen presentation",
                    icon: "SwayLogo",
                    color: "#008272"
                }


            ]
        },
        {
            left: {  title: "Enterprise video", color: "#A6E1F4" },
            right:
            {
                title: "Office Online",
                color: "#B8E7F6"
            },
            columns: [  // row 2

                {
                    type: "service",
                    title: "Stream",
                    about: "Video portal [YouTub]e",
                    icon: "VideoSolid",
                    color: "#C30052"
                },
                {
                    type: "service",
                    title: "Video",
                    about: "Video portal [YouTub]e",
                    icon: "OfficeVideoLogo",
                    color: "#0078D7 "
                },
                { type: "buttom ", 
                 subtitle: "Employee profile", 
                 subtitleclass:"subbottom ms-font-xs ",
                 color: "#BBBBE6" },
                { type: "lefter  hidde" },
                {
                    type: "service",
                    title: "Word Online",
                    about: "Word processing in the browser",
                    icon: "WordLogo",
                    color: "#2B579A "
                },
                {
                    type: "service",
                    title: "Excel Online",
                    about: "Spreadsheets in the browser",
                    icon: "ExcelLogo",
                    color: "#02723B "
                },
                {
                    type: "service",
                    title: "OneNote Online",
                    about: "Note taking in the browser [Evernote]",
                    icon: "OneNoteLogo",
                    color: "#80397B "
                },
                {
                    type: "service",
                    title: "PowerPoint Online",
                    about: "Presentations in the browser",
                    icon: "PowerPointLogo",
                    color: "#D24726 "
                }
            ]
        },
        {
            left: { title: "File Storage and Collaboration", color: "#B3E6A9" },
            right: {
                title: "Business application platform",
                color: "#B3E6A9"
            },
            columns: [  // row 3

                {
                    type: "service",
                    title: "SharePoint Online",
                    about: "Team file sharing & storage",
                    icon: "SharepointLogo",
                    color: "#0078D7"
                },
                {
                    type: "service",
                    title: "OneDrive for Business ",
                    about: "Personal file storage [Dropbox]",
                    icon: "OneDrive",
                    color: "#0078D7 "
                },
                {
                    type: "service",
                    title: "Delve",
                    about: "Employee profile & content discovery",
                    icon: "DelveLogo",
                    color: "#0078D7 "
                },
                { type: "lefter  ",
                 subtitle: "Forms", 
                 subtitleclass:"sub270 ms-font-xs",
                 color:"#BBBBE6" },
                {
                    type: "service",
                    title: "Forms",
                    subtitle: "Preview",
                    subtitleclass:"ms-font-mi  subtitle ms-fontWeight-light",
                    about: "Code-free forms",
                    icon: "OfficeFormLogo",
                    color: "#008271 "
                },
                {
                    type: "service",
                    title: "PowerApps",
                    about: "Code-free mobile apps (& forms)",
                    icon: "PowerApps",
                    color: "#742774 "
                },
                {
                    type: "service",
                    title: "Flow",
                    about: "Code-free workflows [IFTTT]",
                    icon: "Flow",
                    color: "#0077FF "
                },
                {
                    type: "service",
                    title: "Power BI",
                    about: "Business analytics & dashboard",
                    icon: "PowerBILogo",
                    color: "#F2C811 "
                }

            ]
        },
        {
            left: { type: "lefter ", title: "Outlook", color: "#A6E1F4" },
            right: {
                type: "righter",
                title: "Project Management",
                color: "#BBBBE6"
            },
            columns: [  // row 4

                {
                    type: "service",
                    title: "Mail",
                    about: "Outlook email",
                    icon: "OutlookLogo",
                    color: "#0078D7"
                },
                {
                    type: "service",
                    title: "Calendar ",
                    about: "Outlook calendar",
                    icon: "Calendar",
                    color: "#0078D7 "
                },
                {
                    type: "service",
                    title: "People",
                    about: "Outlook contact list",
                    icon: "People",
                    color: "#0078D7 "
                },
                {
                    type: "service",
                    title: "Tasks",
                    subtitle: "Preview",
                    about: "Outlook tasks",
                    icon: "CheckMark",
                    color: "#0078D7  "
                },
                { type: "lefter ", 
                 subtitle: "Task Management" ,
                 subtitleclass:"sub270 ms-font-xs",
                 
                 color:"#B3E6A9"},
                {
                    type: "service",
                    title: "To-Do",
                    about: "To-do list for life & work [Wunderlist]",
                    icon: "CheckMark",
                    color: "#3896F9 "
                },
                {
                    type: "service",
                    title: "Planner",
                    about: "Everyday project management [Trello]",
                    icon: "Planner",
                    color: "#3C853C"
                },
                {
                    type: "service",
                    title: "Project Online",
                    about: "Premium project management",
                    icon: "ProjectLogo",
                    color: "#3C853C  "
                }
            ]
        },
        {
            left: { type: "lefter ", title: "Chat & conferences", color: "#BBBBE6" },
            right: {
                type: "righter",
                title: "Small Business Applications",
                color: "#B3E6A9"
            },
            columns: [  // row 5

                {
                    type: "service",
                    title: "Skype for Business",
                    about: "Instant messaging & viceo chat [Skype]",
                    icon: "SkypeLogo",
                    color: "#00AFF0"
                },
                {
                    type: "service",
                    title: "Teams ",
                    about: "Group chat & video chat [Slack]",
                    icon: "TeamsLogo",
                    color: "#3F418E "
                },
                {
                    type: "service",
                    title: "Newsfeed",
                    about: "SharePoint's (lite) social network",
                    icon: "News",
                    color: "#0078D7 "
                },
                {
                    type: "service",
                    title: "Yammer",
                    about: "Social network",
                    icon: "YammerLogo",
                    color: "#0078D7  "
                },
                { type: "lefter ", 
                 subtitle: "Social networking" ,
                 ubtitle: "Employee profile", 
                 subtitleclass:"sub270 ms-font-s",
                
                 color:"#A6E1F4" },
                {
                    type: "service",
                    title: "Visio Online",
                    about: "Diagramming in the browswer",
                    icon: "VisioLogo",
                    color: "#4568C4 "
                },
                {
                    type: "service",
                    title: "Bookings",
                    about: "Customer self-reservations",
                    icon: "BookingsLogo",
                    color: "#25ABB2"
                },
                {
                    type: "service",
                    title: "StaffHub",
                    about: "Frontline employee hub & scheduler",
                    icon: "MicrosoftStaffhubLogo",
                    color: "#25ABB2 "
                }

            ]
        }


    ]
};
  </script>

  
  

</body>
</html>
 
