---
layout: default
---
{% include breadcrumb.html %}
<style>
.ServiceDescription
{
    float:left;
    width:66%;
    padding-right: 10px; 
}
.ServiceSidebar
{
    float:left;
    width:33%;
    padding-left: 10px;
}

.ServiceInShort {
    font-size: 100%;
    font-style: italic;
}
.ServiceSideBarHeader{
    color: #222;
    font-weight: bold;
    font-size: 24px;
}
.IcansharepointLink{

}
.IcansharepointLogo{

}

.IcansharepointBox{

}

.LinkLink{
background-color: #F76F3E;
color:#ffffff;
padding: 5px;
border-radius: 3px;
}

a.LinkLink:hover{
    color:#ffffff;
}

.ServiceSidebar > li{
list-style-type: none;
}
</style>
<article class="page">
  
      <h1 class="nodialogue">{{ page.title }}</h1>

      <div class="ServiceDescription ">
          {{ content }}
      </div>
      <div class="ServiceSidebar">
        
        {% if page.link %}
        <li >
            
            <a class="LinkLink" target="_blank" title="Open the service in a new window" href="{{ page.link }}">Start {{ page.title }}</a>
            
            </li> 
        {% endif %}
    
        <h2>Links</h3>
        <ul>
        {% if page.icansharepoint %}
        <li class="IcansharepointBox">

            <a target="_blank" title="Read more at www.icansharepoint.com" href="{{ page.icansharepoint }}"><img class="IcansharepointLogo" style="height: 16px;width:auto" src="{{ site.baseurl }}/media/icansharepoint-logo-transparent.png" />[[wiki]]</a>
        </li>
        {% endif %}
        <div class="xnodialogue">
        {% if page.source %}<li><a target="_blank" title="Open the source of this article in a new window" href="{{ page.source }}">Source</a></li>{% endif %}
        {% if page.linkpricing %}<li><a target="_blank" title="Pricing info" href="{{ page.linkpricing }}">Pricing Details</a> </li> {% endif %}

        </ul>
        <h3 class="xnodialogue">Role specific</h3>
        <ul>
        {% if page.linkadmin %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkadmin }}">Administrator</a> </li> {% endif %}
        {% if page.linkdev %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkdev }}">Developer</a> </li> {% endif %}
        {% if page.linkbusiness %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkbusiness }}">Business</a> </li> {% endif %}
        {% if page.linkmarketing %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkmarketing }}">Marketing</a> </li> {% endif %}
        {% if page.linkcompliance %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkcompliance }}">Compliance Officer</a> </li> {% endif %}
        {% if page.linkdataprotection %}<li><a target="_blank" title="Open in a new window" href="{{ page.linkdataprotection }}">Data Protection Officer</a> </li> {% endif %}
        {% if page.teamschannel %}<li><a target="_blank" title="Open this in Microsoft Teams (Private Link)" href="{{ page.teamschannel }}">Teams (private link)</a></li>{% endif %}
        {% if page.linktraining %}<li><a target="_blank" title="Open in a new window" href="{{ page.linktraining }}">Training</a></li>{% endif %}
        {% if page.powershell %}<li><a target="_blank" title="Open in a new window" href="{{ page.powershell }}">PowerShell</a></li>{% endif %}
    </ul>
    </div>
  </article>
  {% include disqus.html %}
