---
layout: default
---
{% include breadcrumb.html %}
<style>
.ServiceDescription
{
    float:left;
    width:66%;
    padding-right: 10px; 
}
.ServiceSidebar
{
    float:left;
    width:33%;
    padding-left: 10px;
}

.ServiceInShort {
    font-size: 100%;
    font-style: italic;
}
.ServiceSideBarHeader{
    color: #222;
    font-weight: bold;
    font-size: 24px;
}
</style>
<article class="page">
  
      <h1>{{ page.title }}</h1>
      
      <div class="ServiceDescription nodialogue">
            {% if page.inshort %}<div class="ServiceInShort "><quote>{{ page.inshort }} </quote> </div>{% endif %}
          {{ content }}
      </div>
      <div class="">
        
        <div class="ServiceSideBarHeader">Links</div>
        {% if page.source %}<div><a target="_blank" title="Open the source of this article in a new window" href="{{ page.source }}">Source</a></div>{% endif %}
        {% if page.link %}<div><a target="_blank" title="Open the service in a new window" href="{{ page.link }}">Link</a> </div> {% endif %}
        {% if page.linkpricing %}<div><a target="_blank" title="Pricing info" href="{{ page.linkpricing }}">Pricing Details</a> </div> {% endif %}
        <h3>Role specific</h3>
        {% if page.linkadmin %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkadmin }}">Administrator</a> </div> {% endif %}
        {% if page.linkdev %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkdev }}">Developer</a> </div> {% endif %}
        {% if page.linkbusiness %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkbusiness }}">Business</a> </div> {% endif %}
        {% if page.linkmarketing %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkmarketing }}">Marketing</a> </div> {% endif %}
        {% if page.linkcompliance %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkcompliance }}">Compliance Officer</a> </div> {% endif %}
        {% if page.linkdataprotection %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkdataprotection }}">Data Protection Officer</a> </div> {% endif %}
        {% if page.teamschannel %}<div><a target="_blank" title="Open this in Microsoft Teams (Private Link)" href="{{ page.teamschannel }}">Teams (private link)</a></div>{% endif %}
        {% if page.icansharepointwiki %}<div><a target="_blank" title="Open this in Microsoft Teams (Private Link)" href="{{ page.icansharepointwiki }}">icansharepoint Wiki</a></div>{% endif %}
        {% if page.linktraining %}<div><a target="_blank" title="Open in a new window" href="{{ page.linktraining }}">Training</a></div>{% endif %}
        {% if page.powershell %}<div><a target="_blank" title="Open in a new window" href="{{ page.powershell }}">PoeerShell</a></div>{% endif %}
      </div>
  
  </article>
  {% include disqus.html %}>
