---
layout: default
---
{% include breadcrumb.html %}
<style>
.ServiceDescription
{
    float:left;
    width:66%;
    padding-right: 10px; 
}
.ServiceSidebar
{
    float:left;
    width:33%;
    padding-left: 10px;
}

.ServiceInShort {
    font-size: 120%;
}
</style>
<article class="page">
  
      <h1>{{ page.title }}</h1>
      {% if page.inshort %}<div class="ServiceInShort blockquote"><quote>{{ page.inshort }} </quote> </div>{% endif %}
      <div class="ServiceDescription">
          {{ content }}
      </div>
      <div class="ServiceSidebar">
        
        <h2>Links</h2>
        {% if page.source %}<div><a target="_blank" title="Open the source of this article in a new window" href="{{ page.source }}">Source</a></div>{% endif %}
        {% if page.link %}<div><a target="_blank" title="Open the service in a new window" href="{{ page.link }}">Link</a> </div> {% endif %}
        <h3>Role specific</h3>
        {% if page.linkadmin %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkadmin }}">Administrator</a> </div> {% endif %}
        {% if page.linkdev %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkdev }}">Developer</a> </div> {% endif %}
        {% if page.linkbusiness %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkbusiness }}">Business</a> </div> {% endif %}
        {% if page.linkmarketing %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkmarketing }}">Marketing</a> </div> {% endif %}
        {% if page.linkcompliance %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkcompliance }}">Compliance Officer</a> </div> {% endif %}
        {% if page.linkdataprotection %}<div><a target="_blank" title="Open in a new window" href="{{ page.linkdataprotection }}">Data Protection Officer</a> </div> {% endif %}
        
      </div>
  
  </article>
  {% include disqus.html %}>
